body {
  background-color: black;
  color: rgb(220, 220, 220)
}
h1 {
  color: rgb(240, 240, 240); font-family:consolas; text-align: center;
}
h2 {
  color: rgb(240, 240, 240); font-family:consolas; text-align: center;
}
p,ul,ol {
  color: rgb(240, 240, 240); font-family:arial; font-size: 24px; letter-spacing: 0.05em; padding: 20px; text-align: center; line-height: 1.5em;
}
table {
  color: rgb(220, 220, 220); font-family:arial; font-size: 0.9em; letter-spacing: 0.05em;
}
h3 {
  color: white; bottom:0; font-family:consolas; width: 100%; text-align: center;
}
a {
  color: #00ff41;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button {
 
  display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    color: #000000;
    border: 5px solid rgb(240, 240, 240);
    border-radius: 111px;
    font-size: 1.2rem;
}
button:hover {
  background-color: transparent;
  color: #ffffff;
  border: 5px solid #000000;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons div{
  padding: 10px;
}
